.App {
  text-align: center;
}

/*NavBar*/
.navBar{
  background-color: green;
  width: 100%;
}

#logo{
  width: 12em;
}

.dropdown-menu{
  padding: 0;
  background-color: lightgreen;
}

.basic-nav-dropdown{
  background-color: green;
}

.nav-link{
  color: lightgreen;
}

.navItem {
  background-color: lightgreen;
  margin-top: 0.5rem;
}

.cartWidget {
  display: flex;
  width: 35px;
  justify-content: space-between;
  align-items: center;
  color: lightgreen;
}

/*List Container*/
.listContainer {
  width: 75%;
  font-size: 2rem;
  color: green;
  margin: 1em 0em 1em 0em; 
  display: block;
  float: left;
}

/*ItemList*/
.listGroup{
  width: 100%;
  justify-content:center;
  align-items: center;
}

/*Item*/
.card{
  margin: 0.5em;
  display: inline-block;
  width: 9em;
}

.card:hover{
  opacity: 75%;
}

.card-img-top{
  height: 6em;
}

.card-title h2{
  font-size: 1.4em ;
}

.card-body{
  background-color: lightgreen;
  color: green;
  justify-content: center;
}

.card-text{
  font-size: 0.6em;
  margin: 0.2em;
}

.card-text#descripcion{
  font-style: italic;
}

.card-text#pasajeros{
  font-size: 0.5em;
}

.card-text#precio{
  font-weight: bold;
}

.buttonCard{
  font-size: 0.6em;
  height: 2em;
  width: 6em;
  border: 0.1em solid green;
  border-radius: 10%;
  background-color: green;
  color: white;
}

.buttonCard:hover{
  background-color: rgb(68, 135, 68);
}

/*SideBar*/
.sideBar{
  width: 25%;
  height: 100vh;
  font-size: 2rem;
  background-color: lightgreen;
  color: green;
  margin: 0em;
  justify-content:center;
  align-items: center;
  display: block;
  float: right;
  right: 0;
  padding-top: 1em;
}

/*SideBar*/
.sideBar .card{
  margin: 0.8em 0.3em;
  display: inline-block;
  width: 8em;
  border: 0;
}

.sideBar .card:hover{
  opacity: 100%;
}

.sideBar .card-img-top{
  height: 5em;
}

#cardSelectedTitle{
  font-size: 1.2em ;
}

.sidebar .card-text{
  margin: 0.1em;
}

.sideBar .card-text#descripcion{
  font-style: italic;
  font-size: 0.5em;
}

.sideBar .card-text#pasajeros{
  font-size: 0.5em;
}

.card-text#precio{
  font-weight: bold;
  font-size: 0.6em;
}

/*ItemCount*/
.contador{
  width: 8em;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: lightgreen;
}

.counter{
  width: 100%;
  margin: 0;
  border-radius: 0.5em;
  background-color: green;
  display: flex;
  align-items:center;
}

.controls{
  width: 40%;
  height: 2em;
  margin: 0.4em;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.agregar{
  width: 55%;
  height: 2em;
  margin: 0.4em;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.number{
  width: 1em;
  height: 1.8em;
  margin: 0.2em;
  color: lightgreen;
  font-size: 0.6em;
}

.button{
  width: 1.8em;
  height: 1.8em;
  margin: 0.3em;
  font-size: 0.5em;
  background-color: white;
  line-height: 0.9em;
}

.agregar .button{
  width: 90%;
  height: 1.8em;
  margin: 0.4em;
  font-size: 0.5em;
  background-color: white;
  line-height: 0.9em;
}

/*Footer*/
.footer {
  width: 100%;
  height: 7em;
  background-color: black;
  color:#f8f9fa;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  width: 30%;
  margin-bottom: 0;
  margin: 0em 2em;
  display: flex;
  align-items: right;
}

.footerLinks {
  width: 65%;
  margin-left: 15px;
  display: flex;
  align-items: left;
  margin: 0em 5em;
}

.footerLinks a {
  color: #f8f9fa;
}