.App {
  text-align: center;
}

/*Nav Bar*/
.navBar{
  background-color: green;
  width: 100%;
}

#navBrand{
  color: white;
}


.basic-nav-dropdown{
  background-color: green;
}

.navItem {
  background-color: lightgreen;
}

.cartWidget {
  display: flex;
  width: 35px;
  justify-content: space-between;
  align-items: center;
  color: lightgreen;
}

/*List Container*/
.listContainer {
  font-size: 2rem;
  color: green;
  margin: 20px; 
}