.App {
  text-align: center;
}

/*NavBar*/
.navBar{
  background-color: green;
  width: 100%;
}

#logo{
  width: 12em;
}

.dropdown-menu{
  padding: 0;
  background-color: lightgreen;
}

.basic-nav-dropdown{
  background-color: green;
}

.nav-link{
  color: lightgreen;
}

.nav-link a{
  color: lightgreen;
  text-decoration: none;
  padding: 1em 0em;
  margin: 0em 1em;
}

#submenu {
  margin-top: 1em;
  margin-left: 1em;
}

.navItem {
  background-color: lightgreen;
  margin-top: 0.5em;
}

.navItem a{
  padding: 1em 2em;
  color: green;
  text-decoration: none;
}

.cartWidget {
  display: flex;
  width: 2.5em;
  justify-content: space-between;
  align-items: center;
  color: lightgreen;
}

/*Home*/
#home {
  width: 100%;
  height: 30.1em;
  background-image: url(./assets/img/portada.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5em;
  opacity: 90%;
}

#home #logo{
  width: 20em;
  float: right;
  margin-right: 10em;
  margin-top: 2em;
  box-shadow:black;
}

/*List Container*/
.listContainer {
  width: 100%;
  font-size: 2rem;
  color: green;
  margin: 1em 0em 1em 0em; 
  display: block;
  float: left;
}

/*ItemList*/
.listGroup{
  width: 100%;
  justify-content:center;
  align-items: center;
}

/*Item*/
.card{
  margin: 0.5em;
  display: inline-block;
  width: 9em;
}

.card:hover{
  opacity: 75%;
}

.card-img-top{
  height: 6em;
}

.card-title h2{
  font-size: 1.4em ;
  margin: 0.3em;
}

.Chile25 .card-body .card-title h2{
  font-size: 1.2em ;
  margin: 0.45em 0.1em;
}

.Puna16 .card-body .card-title h2{
  font-size: 1.2em ;
  margin: 0.45em 0.1em;
}

.card-body{
  background-color: lightgreen;
  color: green;
  align-items: center;
  justify-content: center;
}

.card-text#pasajeros{
  font-size: 0.5em;
  margin: 0.4em;
}

.card-text#resumen{
  font-style: italic;
  font-size: 0.6em;
}

.cardBottom{
  margin: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-text#precio{
  height: 0.8em;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1.2em;
}

/*ItemDescription*/
.itemDescriptionContainer{
  width: 95%;
  height: auto;
  font-size: 2rem;
  background-color: lightgreen;
  margin: 1em;
  justify-content:center;
  align-items: center;
  display: block;
}

/*Description*/
.itemDescriptionContainer .card{
  width: 97%;
  margin: 0.5em;
  display: inline-block;
  background-color: rgb(206, 251, 206);
  border: 0;
  opacity: 100%;
}

.itemDescriptionContainer .card .card-body{
  background-color: rgb(206, 251, 206);
}

.cardBodyLeft{
  width: 68%;
  float: left;
  margin: 0.2em;
  height: auto;
}

.cardBodyRight{
  width: 29%;
  float: right;
  margin: 0.2em;
  height: auto;
}

.itemDescriptionContainer .card .card-body .card-title{
  display: flex;
  justify-content: left;
  align-items:center;
  margin: 0.2em;
}

#cardSelectedTitle{
  font-size: 2em ;
}

.itemDescriptionContainer .card-text#descripcion{
  font-style: italic;
  font-size: 0.55em;
  text-align: justify;
  margin: 0.2em;
  color: black;
}

.itemDescriptionContainer .card-img-top{
  width: 96%;
  height: 6em;
  margin: 0.5em 0.2em;
  margin-top: 2em;
}

.itemDescriptionContainer .card-text#precio{
  height: 1.6em;
  width: 96%;
  margin: 0.5em 0.2em;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.6em;
  text-justify: center;
}

.itemDescriptionContainer .card-text#pasajeros{
  height: 1.5em;
  width: 96%;
  margin: 0.2em;
  font-size: 0.6em;
  line-height: 1.5em;
  text-justify: center;
}

/*ItemCount*/
.contador{
  width: 90%;
  margin: 0.5em;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: rgb(206, 251, 206);
}

.counter{
  width: 8em;
  height: 2.5em;
  margin: 0;
  border-radius: 0.5em;
  background-color: green;
  display: flex;
  align-items:center;
}

.controls{
  width: 40%;
  height: 2em;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.agregar{
  width: 55%;
  height: 2em;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.number{
  width: 1em;
  height: 1.8em;
  margin: 0;
  color: lightgreen;
  font-size: 0.6em;
}

.button{
  width: 1.8em;
  height: 1.8em;
  margin: 0.3em;
  font-size: 0.5em;
  background-color: white;
  line-height: 0.9em;
}

.agregar .button{
  width: 90%;
  height: 1.8em;
  margin: 0.4em;
  font-size: 0.5em;
  background-color: white;
  line-height: 0.9em;
}

/*Footer*/
.footer {
  width: 100%;
  height: 7em;
  background-color: black;
  color:#f8f9fa;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  width: 30%;
  margin: 0em 2em;
  display: flex;
  align-items: right;
}

.footerLinks {
  width: 65%;
  display: flex;
  align-items: left;
  margin: 0em 5em;
}

.footerLinks a {
  color: #f8f9fa;
}